<%= div_for comment do %>
<p>
  <b>Commenter:</b>
  <%= comment.commenter %>
</p>

<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>

<p>
  <% if @post.owned_by? current_user %>
   <span class="actions">
      <%= link_to 'Destroy Comment', [comment.post, comment],
                   :confirm => 'Are you sure?',
                   :method => :delete,
                   :remote => true %>
                   
   </span>
  <% end %>

</p>
<% end %>